<div class="main-dash light-theme">
  <div class="left">
    <div class="align2">
      <div class="title">ProjectX</div>
      <div class="version">V 1.0.0</div>
    </div>
    <div class="projects">
      General
      <div class="project" (click)="openProject('projects')">
        <i class="fa fa-file" style="padding: 0px 10px"></i>Latest Project
      </div>
      <div class="project">
        <i class="fa fa-user-circle" style="padding: 0px 10px"></i>Profile
      </div>
      <div class="project" (click)="togglejoin()">
        <i class="fa fa-user-circle" style="padding: 0px 10px"></i>Join Project
      </div>
    </div>
    <div class="position">
      <div style="display: flex; align-items: center">
        <i class="fa fa-sign-out cent" (click)="logout()"></i>
        <div style="display: flex; flex-direction: column">
          <div>{{relog.userdetails.email()}}</div>
          <div style="color: gray">Logout</div>
        </div>
      </div>
    </div>
  </div>
  <div class="center">
    <div class="search">
      <input
        type="search"
        name=""
        id=""
        class="search-bar"
        [(ngModel)]="searchTerm"
        placeholder="Search for Projects, tasks, etc..."
      />
      <div class="emotion">{{relog.userdetails.status()}}</div>
      <div style="display: flex; gap: 25px; align-items: center">
        @if (addclick()) {
        <i
          class="fa fa-plus blue"
          style="margin-top: 2px"
          (click)="toggleClick()"
        ></i>
        }@else {
        <i
          class="fa fa-times blue"
          style="margin-top: 2px"
          (click)="toggleClick()"
        ></i>
        }
        <i class="fa fa-bell blue" style="margin-top: 2px"></i>
        <img
          src="https://www.366icons.com/media/01/profile-avatar-account-icon-16699.png"
          alt=""
          class="profile-icon"
          (click)="openProfile()"
        />
      </div>
    </div>
    <div class="align">
      <div class="mid">
        <div class="dashtext">Dashboard</div>
        <div class="threecards">
          <div class="designcard" style="background-color: rgb(174, 220, 98)">
            Projects: <span>{{relog.projects()?.length}}</span>
          </div>
          <div class="descard">
            <div
              style="
                font-weight: bold;
                font-size: 18px;
                text-align: center;
                margin-bottom: 20px;
              "
            >
              Location Details
            </div>

            <div *ngIf="digipin">
              <span style="font-weight: 600">DigiPIN:</span>
              {{ digipin }}
            </div>

            <div *ngIf="currentLocation">
              <div>
                <span style="font-weight: 600">Latitude:</span>
                {{ currentLocation.lat }}
              </div>
              <div>
                <span style="font-weight: 600">Longitude:</span>
                {{ currentLocation.lon }}
              </div>
            </div>
          </div>
          <div class="designcard" style="color: antiquewhite">
            <input
              type="text"
              placeholder="Enter DigiPIN"
              style="width: 80%"
              [(ngModel)]="newdigi"
            />
            <button (click)="decodeDigiPin()" [disabled]="!newdigi">
              Decode DigiPIN
            </button>
            <div
              *ngIf="decodedLocation"
              style="
                font-size: small;
                display: flex;
                font-weight: 700;
                margin-top: 2px;
                color: rgb(218, 243, 241);
              "
            >
              <div>Lat: {{decodedLocation.latitude}},</div>
              &nbsp;
              <div>Long: {{decodedLocation.longitude}}</div>
            </div>
          </div>
        </div>
        <div style="padding: 0px 20px; height: 440px; overflow-y: auto">
          <div>Projects</div>
          <div
            class="project-item"
            *ngFor="let project of filteredProj"
            style="margin-top: 10px; justify-content: space-between"
          >
            <div
              style="
                display: flex;
                flex-direction: column;
                margin: 0px 0px 0px 5px;
              "
              (click)="onProject(project)"
            >
              <div>{{project.name}}</div>
              <div>{{project.description}}</div>
              <div [innerHTML]="project.status | status"></div>
            </div>
            <div style="display: flex; flex-direction: column">
              <div>Members: {{project.members?.length || 0}}</div>
              <div>Tasks: {{project.tasks?.length || 0}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        @if (!addclick()) {
        <div class="add-project">
          <div>Add Project</div>
          <input
            type="text"
            name=""
            id=""
            [(ngModel)]="relog.currProject.name"
          />
          <input
            type="text"
            name=""
            id=""
            [(ngModel)]="relog.currProject.description"
          />
          @if(editMode()){
          <button (click)="editProject()">Edit</button>
          }@else{
          <button (click)="addProject()">Add</button>
          }
        </div>
        } @if(joinproj()){
        <div class="add-project">
          <div>Join Project</div>
          <input type="text" name="" id="" [(ngModel)]="joinid" />
          <button (click)="joinProject()">Join</button>
        </div>
        }
        <div class="project-list">
          <div
            class="project-item"
            *ngFor="let project of latestproj().slice(0,3)"
          >
            <div style="display: flex; flex-direction: column">
              <div class="project-name" (click)="onProject(project)">
                {{ project.name }}
              </div>
              <div class="project-description">{{ project.description }}</div>
            </div>
            <div class="project-actions">
              <i class="fa fa-edit blue" (click)="edit(project)"></i>
              <i class="fa fa-trash red" (click)="deleteProject(project)"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="line"></div>
    </div>
  </div>
</div>
