<div class="main-dash light-theme">
  <div class="left">
    <div class="align2">
      <div class="title">ProjectX</div>
      <div class="version">V 1.0.0</div>
    </div>
    <div class="projects">
      General
      <div class="project" (click)="openProject('projects')">
        <i class="fa fa-file" style="padding: 0px 10px"></i>Projects
      </div>
      <div class="project">
        <i class="fa fa-user-circle" style="padding: 0px 10px"></i>Profile
      </div>
      <div class="project">Project 3</div>
      <div class="project">Project 4</div>
      <div class="project">Project 5</div>
      <div class="project">Project 6</div>
      <div class="project">Project 7</div>
      <div class="project">Project 8</div>
    </div>
  </div>
  <div class="center">
    <div class="search">
      <input
        type="search"
        name=""
        id=""
        class="search-bar"
        placeholder="Search for Projects, tasks, etc..."
      />
      <div style="display: flex; gap: 25px; align-items: center">
        @if (addclick()) {
        <i
          class="fa fa-plus blue"
          style="margin-top: 2px"
          (click)="toggleClick()"
        ></i>
        }@else {
        <i
          class="fa fa-times blue"
          style="margin-top: 2px"
          (click)="toggleClick()"
        ></i>
        }
        <i class="fa fa-bell blue" style="margin-top: 2px"></i>
        <img
          src="https://www.366icons.com/media/01/profile-avatar-account-icon-16699.png"
          alt=""
          class="profile-icon"
          (click)="openProfile()"
        />
      </div>
    </div>
    <div class="align">
      <div class="mid">
        <div class="dashtext">Dashboard</div>
        <div class="threecards">
          <div
            class="designcard"
            style="background-color: rgb(174, 220, 98)"
          ></div>
          <div
            class="designcard"
            style="background-color: rgb(240, 95, 95)"
          ></div>
          <div class="designcard"></div>
        </div>
      </div>
      <div class="right">
        @if (!addclick()) {
        <div class="add-project">
          <div>Add Project</div>
          <input
            type="text"
            name=""
            id=""
            [(ngModel)]="relog.currProject.name"
          />
          <input
            type="text"
            name=""
            id=""
            [(ngModel)]="relog.currProject.description"
          />
          <button (click)="addProject()">Add</button>
        </div>
        }
        <div class="project-list">
          <div class="project-item" *ngFor="let project of relog.projects()">
            <div class="project-name" (click)="onProject(project)">
              {{ project.name }}
            </div>
            <div class="project-description">{{ project.description }}</div>
          </div>
        </div>
      </div>
      <div class="line"></div>
    </div>
  </div>
</div>
