.bgheader {
    height: 40vh;
    width: 100%;
    border-radius: 5px;
}

.profilebox {
    position: absolute;
    width: 100vh;
    height: 70vh;
    background-color: white;
    top: 17%;
    left: 7%;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileimg {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 40%;
    border: 5px solid white;
}

.box1 {
    position: absolute;
    width: 70vh;
    height: 30vh;
    background-color: white;
    top: 17%;
    left: 59%;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.box2 {
    position: absolute;
    width: 33vh;
    height: 37vh;
    background-color: white;
    top: 50%;
    left: 59%;
    border-radius: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.name {
    font-size: xx-large;
    font-weight: 500;
}
