<div class="parent">
  <div class="login-container">
    <h2 style="margin-top: 0px">Hello, User</h2>
    <h1 style="margin-top: -25px; color: #007bff">Register</h1>
    <form
      #registerForm="ngForm"
      class="login-box"
      (ngSubmit)="register(registerForm)"
    >
      <div class="form-group">
        <div class="form-grp">
          <label for="email">Email address: </label>
          <input
            type="email"
            id="email"
            name="email"
            ngModel
            required
            pattern="[a-z0-9]+@[a-z]+\.[a-z]{2,3}"
            #email="ngModel"
            placeholder="Enter Mail"
            (ngModelChange)="onEmailChange(email.value)"
          />
        </div>
        <div
          *ngIf="email.invalid && email.touched"
          style="
            color: red;
            display: block;
            margin-top: -7px;
            margin-bottom: -20px;
          "
        >
          <small *ngIf="email.errors?.['required']">Email is required</small>
          <small *ngIf="email.errors?.['pattern']">Invalid Email</small>
        </div>
      </div>
      <div class="form-group">
        <div class="form-grp">
          <label for="text">Username: </label>
          <input
            type="text"
            id="uname"
            name="uname"
            ngModel
            required
            #uname="ngModel"
            placeholder="Enter Username"
            (ngModelChange)="onUsernameChange($event)"
          />
        </div>
        <div
          *ngIf="uname.invalid && uname.touched"
          style="
            color: red;
            display: block;
            margin-top: -7px;
            margin-bottom: -20px;
          "
        >
          <small *ngIf="uname.errors?.['required']">Username is required</small>
        </div>
      </div>
      <div class="form-group">
        <div class="form-grp">
          <label for="text">First Name: </label>
          <input
            type="text"
            id="fname"
            name="fname"
            ngModel
            required
            #fname="ngModel"
            placeholder="Enter First Name"
            (ngModelChange)="onfirstnameChange($event)"
          />
        </div>
        <div
          *ngIf="fname.invalid && fname.touched"
          style="
            color: red;
            display: block;
            margin-top: -7px;
            margin-bottom: -20px;
          "
        >
          <small *ngIf="fname.errors?.['required']"
            >Firstname is required</small
          >
        </div>
      </div>
      <div class="form-group">
        <div class="form-grp">
          <label for="text">Last Name: </label>
          <input
            type="text"
            id="lname"
            name="lname"
            ngModel
            required
            #lname="ngModel"
            placeholder="Enter Last Name"
            (ngModelChange)="onlastnameChange($event)"
          />
        </div>
        <div
          *ngIf="lname.invalid && lname.touched"
          style="
            color: red;
            display: block;
            margin-top: -7px;
            margin-bottom: -20px;
          "
        >
          <small *ngIf="fname.errors?.['required']">Lastname is required</small>
        </div>
      </div>
      <!-- Address Field -->
      <div class="form-group">
        <div class="form-grp">
          <label for="address">Address: </label>
          <input
            type="text"
            id="address"
            name="address"
            ngModel
            required
            #address="ngModel"
            placeholder="Enter Address"
            (ngModelChange)="onAddressChange($event)"
          />
        </div>
        <div
          *ngIf="address.invalid && address.touched"
          style="
            color: red;
            display: block;
            margin-top: -7px;
            margin-bottom: -20px;
          "
        >
          <small *ngIf="address.errors?.['required']"
            >Address is required</small
          >
        </div>
      </div>

      <!-- Phone Number Field -->
      <div class="form-group">
        <div class="form-grp">
          <label for="phone">Phone Number: </label>
          <input
            type="text"
            id="phone"
            name="phone"
            ngModel
            required
            pattern="^[0-9]{10}$"
            #phone="ngModel"
            placeholder="Enter 10-digit Phone Number"
            (ngModelChange)="onPhoneChange($event)"
          />
        </div>
        <div
          *ngIf="phone.invalid && phone.touched"
          style="
            color: red;
            display: block;
            margin-top: -7px;
            margin-bottom: -20px;
          "
        >
          <small *ngIf="phone.errors?.['required']"
            >Phone number is required</small
          >
          <small *ngIf="phone.errors?.['pattern']"
            >Enter a valid 10-digit number</small
          >
        </div>
      </div>
      <div class="form-group">
        <div class="form-grp">
          <label for="pass">Password: </label>
          <input
            type="password"
            id="pass"
            name="pass"
            ngModel
            required
            (ngModelChange)="onPasswordChange(pass.value)"
            #pass="ngModel"
            placeholder="Enter Password"
          />
        </div>
        <div *ngIf="pass.touched" class="error-message">
          <small *ngIf="pass.errors?.['required']">Password is required</small>
          <small
            *ngIf="!pass.errors?.['required'] && !passwordErrors.hasLowercase"
            >Password must have at least one lowercase</small
          >
          <small
            *ngIf="!pass.errors?.['required'] && passwordErrors.hasLowercase && !passwordErrors.hasUppercase"
            >Password must have at least one uppercase</small
          >
          <small
            *ngIf="!pass.errors?.['required'] && passwordErrors.hasLowercase && passwordErrors.hasUppercase && !passwordErrors.hasDigit"
            >Password must have at least one digit</small
          >
          <small
            *ngIf="!pass.errors?.['required'] && passwordErrors.hasLowercase && passwordErrors.hasUppercase && passwordErrors.hasDigit && !passwordErrors.minLength"
            >Password must be at least 8 characters long</small
          >
        </div>
      </div>
      <button type="submit" id="login" [disabled]="registerForm.invalid">
        Register
      </button>
      <a href="/">Login</a>
      <div class="seperator">
        <hr />
        <span>OR</span>
        <hr />
      </div>
      <div class="social-login">
        <img
          src="https://th.bing.com/th/id/R.0fa3fe04edf6c0202970f2088edea9e7?rik=joOK76LOMJlBPw&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fgoogle-logo-png-open-2000.png&ehk=0PJJlqaIxYmJ9eOIp9mYVPA4KwkGo5Zob552JPltDMw%3d&risl=&pid=ImgRaw&r=0"
          alt="Google"
          class="img"
        />
        <img
          src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
          alt="GitHub"
          class="img"
        />
      </div>
    </form>
  </div>
</div>
